name: Tosca Test Execution

on:
  workflow_dispatch:   # Manual trigger

jobs:
  run-tosca-tests:
    runs-on: windows-latest   # Use Windows runner for PowerShell script

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Tosca Execution Client
        run: |
          .\tosca_execution_client.ps1 `
            -toscaServerUrl http://localhost/ `
            -projectName Master`
            -events '[ "Event1" ]' `
            -clientId Kag21Je8YkmQqVEt-Rqeow `
            -clientSecret aHdVPu4YQ0qFTLd1DzXKdww0yZaKmdxE2Tdl7dqdrEBA
        shell: pwsh
